<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648937498880-cskk79iavdm6f4hr6h6m672pknig6744.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648937498880-cskk79iavdm6f4hr6h6m672pknig6744</string>
	<key>API_KEY</key>
	<string>AIzaSyCwNxn3n0kZFqL3fJaKsvdBQAC3gDrIM14</string>
	<key>GCM_SENDER_ID</key>
	<string>648937498880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Malkov.KS.ForgetAboutTasks</string>
	<key>PROJECT_ID</key>
	<string>forgetabouttasks</string>
	<key>STORAGE_BUCKET</key>
	<string>forgetabouttasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648937498880:ios:081d901a85f9f3813d6be5</string>
</dict>
</plist>